body {
	background-image:url("background_photo.png") ;
	background-color: rgb(20,20,20);
}
.navbar{
	background-color: black;
}
.navbar-brand img {
	height:55px;
	width:480px;
}
.navbar-toggle {
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	padding-left:20px;
	padding-right:20px;
	border-style:double;
	border-color:rgb(25,25,25);
	border-radius:10px;
}
.header-icons {
	color:rgb(240,240,240);
	font-size: 1.2em;
}

.header-icons:hover {
	color: rgb(230,180,90);
}
#current{
	background-color:rgb(230,180,90);
	color:white;
}
.header-items {
	margin-top: 6%;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.navbar{
		background-color: black;
		min-height:120px;
	}
	.navbar-brand img {
		height:50px;
		width:360px;

	}
	.navbar-toggle {
		font-family:"Fira Sans";
		color:rgb(230,180,90);
	}

	.header-icons {
		color:rgb(240,240,240);
		font-size: 1.2em;
	}
	.header-icons:hover {
		color: rgb(230,180,90);
	}
	#current{
		background-color:rgb(230,180,90);
		color:white;
	}
	.header-items {
		margin-top:15px;
	}
}
.jumbotron{
	padding:20px;
	background-color: transparent;
}
.jumbotron h1{
	color:rgb(230,180,90);
	font-family:"Fira Sans";
}
.jumbotron p{
	color:white;
	font-family: Helvetica;
}
.desc-box{
	padding-bottom:20px;
}
.serv-box{
	padding-bottom:20px;
}
.tech-box{
	padding-bottom:20px;
}
.comm-box{
	padding-bottom:70px;
}
.desc{
	background-color:black;
	border-radius:15px;
	padding:30px;
	border-style: solid;
	border-color:rgb(20,20,20);
	
}
.desc h2{
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	text-align:center;
}
.desc p{
	font-family:helvetica;
	color:white;
	font-size:1.3em;
	text-align:center;
}
.desc li{
	color:white;
	float:left;
	clear:none;
	font-size:1.3em;

}


.first{
	width: 18.5%;
	margin-top:2%;
	text-align:center;

	float: left;
	clear:none;

}
.sub-class{
	width: 18.5%;
	margin-top:2%;
	text-align:center;

	float: left;
	clear:none;

}
.last{
	width: 18.5%;
	margin-right:5%;
	margin-top:2%;
	text-align:center;

	float: left;
	clear:none;

}
.first img, .last img, .sub-class img{
	display: block;
	margin:0 auto;
	width:50px;
	max-height:50px;
}

@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {


	.desc li{
		color:white;
		float:left;
		clear:none;
		font-size:0.8em;

	}



	
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {


	.desc li{

		font-size:0.5em;

	}


	.first img, .last img, .sub-class img{

	width:40px;
	max-height:40px;
	}	


	
}
.serv{
	background-color:black;
	border-radius:15px;
	padding:30px;
	border-style: solid;
	border-color:rgb(20,20,20);

}
.serv h2{
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	text-align: center;

}
.serv p{
	font-family:helvetica;
	color:white;
	font-size:1.3em;
	text-align: center;
}
.serv-item{
	font-family:helvetica;
	color:white;
	text-align: center;
	border-style:double;
	border-radius:10px;
	padding:10px;

}
.tech{
	background-color:black;
	border-radius:15px;
	padding:30px;
	border-style: solid;
	border-color:rgb(20,20,20);

}
.tech h2{
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	text-align:center;
}
.tech li{
	color:white;
	font-family:helvetica;
	font-size:1.3em;
}

.comm{
	background-color:black;
	border-radius:15px;
	padding:30px;
	border-style: solid;
	border-color:rgb(20,20,20);
}
.comm h2{
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	text-align:center;
}
.comm p{
	font-family:helvetica;
	color:white;
	font-size:1.3em;
	text-align: center;
}
.carousel{
	border-radius: 15px;
	border-style: solid;
	border-color:rgb(20,20,20);
}
.carousel-content a{
	color:rgb(230,180,90);
	font-family:"Fira Sans";
	text-align:center;
}
.carousel-content img{
	max-width:400px;
	max-height:400px;
	margin-top:10px;
	margin-bottom:25px;
	border-radius: 15px;
}
.carousel-content p{
	color:white;
	font-family:Helvetica;
	text-align:center;
	font-size:1.2em;
	margin-bottom:70px;
	margin-left:50px;
	margin-right:50px;

}
.carousel-indicators li{
	background-color: rgb(230,180,90);
}
#myCarousel{
	max-width:90%;
	height:100%;
	padding-bottom:50px;
	margin: 0 auto;
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin-top: 0 auto;
	margin-bottom: 20px;
	background-color: black;
}
#myCarousel h2{
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	text-align:center;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.glyphicon{
	color:rgb(230,180,90);
}
.footer{
	background-color:black;
	color:white ;
	font-family:"Fira Sans";
	right: 0;
 	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	text-align:center;
	z-index: 100;
}
