body {
	background-color: rgb(20,20,20);
}

.navbar{
	background-color: black;
}
.navbar-brand img {
	height:55px;
	width:520px;
}

.icon-bar {
   background-color:white;
   margin-top:75%;
}

.header-icons {
	color:rgb(240,240,240);
	font-size: 1.2em;
}

.header-icons:hover {
	color: rgb(230,180,90);
}
#current{
	background-color:rgb(230,180,90);
	color:white;
}
.header-items {
	margin-top: 6%;
}
.careers-box{
	padding-left:30px;
	padding-right:30px;
	padding-bottom: 50px;

}
.jumbotron{
	padding:20px;
	background-color: rgb(20,20,20);
}
.jumbotron h1{
	color:rgb(230,180,90);
	font-family:"Fira Sans";
}
.jumbotron p{
	color:white;
	font-family: Helvetica;
}
.careers-content{
	padding-left:30px;
	padding-right:30px;
	padding-top:1px;
	background-color: black;
	text-align: justify;
	border-radius:15px;

}
.careers-content h3{
	color:rgb(230,180,90);
}
.careers-content p{
	color:white;
	padding-bottom:20px;
}
.footer{
	background-color:black;
	color:white ;
	font-family:"Fira Sans";
	right: 0;
 	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	text-align:center;
}



