* {
    box-sizing: border-box;
}
body {
	background-image:url("background_photo.png") ;
	background-color: rgb(20,20,20);
}
.navbar{
	background-color: black;
}
.navbar-brand img {
	height:55px;
	width:480px;
}
.navbar-toggle {
	font-family:"Fira Sans";
	color:rgb(230,180,90);
	padding-left:20px;
	padding-right:20px;
	border-style:double;
	border-color:rgb(25,25,25);
	border-radius:10px;
}
.header-icons {
	color:rgb(240,240,240);
	font-size: 1.2em;
}

.header-icons:hover {
	color: rgb(230,180,90);
}
#current{
	background-color:rgb(230,180,90);
	color:white;
}
.header-items {
	margin-top: 6%;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.navbar{
		background-color: black;
		min-height:120px;
	}
	.navbar-brand img {
		height:50px;
		width:360px;

	}
	.navbar-toggle {
		font-family:"Fira Sans";
		color:rgb(230,180,90);
	}

	.header-icons {
		color:rgb(240,240,240);
		font-size: 1.2em;
	}
	.header-icons:hover {
		color: rgb(230,180,90);
	}
	#current{
		background-color:rgb(230,180,90);
		color:white;
	}
	.header-items {
		margin-top:15px;
	}
}
.prod-item{
	margin:0 auto;
	text-align:center;
	background:black;
	border-radius:15px;
	border-style:solid;
	border-color:rgb(20,20,20);
}
.prod-item h1{
	color:rgb(230,180,90);
	font:"Fira Sans";
}
.prod-item p{
	color:white;
	font:helvetica;
	font-size:1.2em;
	margin-bottom:40px;
}
.prod-item img{
	max-height:50%;
	max-width:70%;
	border-radius:25px;
	padding:20px;
}
.footer{
	background-color:black;
	color:white ;
	font-family:"Fira Sans";
	right: 0;
 	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	text-align:center;
	z-index: 100;
}



