* {
    box-sizing: border-box;
}
body {
	background-image:url("background_photo.png") ;
	background-color: rgb(20,20,20);
}
.navbar{
	background-color: black;
	min-height:120px;
}
.navbar-brand img {
	height:300%;
	width:50%;
	min-width:350px;
}
.navbar-toggle {
	font-family:"Fira Sans";
	color:rgb(230,180,90);
}

.header-icons {
	color:rgb(240,240,240);
	font-size: 1.2em;
}
.header-icons:hover {
	color: rgb(230,180,90);
}
#current{
	background-color:rgb(230,180,90);
	color:white;
}
.header-items {
	margin-top:15px;
}
.footer{
	background-color:black;
	color:white ;
	font-family:"Fira Sans";
	right: 0;
 	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	text-align:center;
	z-index: 100;
}



