{% load cloudinary %}
{% load staticfiles %}
{% load static %}


<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Goodhouse Industries</title>

		<link href = "https://fonts.googleapis.com/css?family=Fira Sans" type = "text/css" rel = "stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="{% static 'archive_style.css' %}" type="text/css" rel="stylesheet">

	</head>

	<body>

	    <nav class="navbar">

	  		<div class="container">

	    		<div class="navbar-header">
	      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
	      			</button>
	      			<a class="navbar-brand" href="/" >
	      				
	      				<img src = "{% static 'logo.png' %}">

	      			</a>
	    		</div>
	    
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right" class "u-list">

			      
			        	<li class = "header-items">
			        		<a class = "header-icons" href="/new">What's New?</a>
			        	</li>

			        	<li class = "header-items">
			        		<a id="current" class = "header-icons" href="/archive">Archive</a>
			        	</li>

			        	<li class = "header-items">
			        		<a class = "header-icons" href="/aboutus">About</a>
			        	</li>


			        	<li class = "header-items">
			            	<a class = "header-icons" href="/products">Products</a>
			        	</li>


			        	<li class = "header-items">
			            	<a class = "header-icons" href="/careers">Careers</a>
			        	</li>


			        	<li class = "header-items">
			        		<a class = "header-icons" href="/contactus">Contact</a>
			        	</li>
			        

			    	</ul>
		    	</div>
	  		</div>
		</nav>


		<div class="container">
			<div class="jumbotron" data-aos="zoom-in">
				<h1>Archive</h1> 
				<p>Here lies all of Goodhouse's articles and posts.</p> 
			</div>
		</div>

		<div class="product-box">
			<div class="product-content">
				<h2>Posts</h2>

				

				<ul class="product-drop">
					{% for post in posts %}
					<li class="dropdown">
						<a class = "product-icons"href="#" data-toggle="dropdown">
							{{ post.title}}
						</a>
          				<div class="dropdown-menu">
          					<h3>
          						{{ post.title}}
          					</h3>
          					{% if post.video_exists == True %}
          					<iframe width="560" height="315" src="{{ post.video_URL }}" frameborder="0" allowfullscreen> </iframe>
          					{% else %}
          						{% if post.image_exists == True %}
									{% cloudinary post.image_file format="jpg" %}
								{% else %}
									<img src = "{% static 'slice1.png' %}">
          						{% endif %}
							{% endif %}
          					<p>{{ post.text|linebreaksbr }}</p>
           				</div>
					</li>
					{% endfor %}
				</ul>
				<br>
			</div>
		</div>
		<!--Animations-->
		<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
		<script>
			AOS.init({
  				duration: 1200,
			});
		</script>
		<!--END-->

		<div class="footer">
			&copy; 2016 Goodhouse Industries, Incorporated. All rights reserved.
		</div>	</body> 

</html>
