{% load staticfiles %}
{% load static %}


<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Goodhouse Industries</title>




		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="{% static 'base_style.css' %}" type="text/css" rel="stylesheet">


	
	</head>



	<body>

	    <nav class="navbar">

	  		<div class="container">

	    		<div class="navbar-header">
	      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
	      			</button>
	      			<a class="navbar-brand" href=/returnhomeView >
	      				
	      				<img src = "{% static 'logo.png' %}">

	      			</a>
	    		</div>
	    
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right" class "u-list">

			      
			        	<li class = "header-items">
			        		<a class = "header-icons" href="#">Main</a>
			        	</li>

			        	<li class = "header-items">
			        		<a class = "header-icons" href="#">About</a>
			        	</li>


			        	<li class = "header-items" class="dropdown">
			            	<a class = "header-icons" href="#">Products</a>
			        	</li>


			        	<li class = "header-items" class="dropdown">
			            	<a class = "header-icons" href="#">Careers</a>
			        	</li>


			        	<li class = "header-items">
			        		<a class = "header-icons" href="#">Contact</a>
			        	</li>


			        

			    	</ul>
		    	</div>
	  		</div>
		</nav>

	</body> 








</html>
